
html{
  padding: 0px;
}
body{
  margin: 0px;
}
#nav{
  background-color: beige;
  padding: 10px;
  height: 30px;
}
#nav .menu{
  width: 30px;
}
#nav .logo{
  width: 30px;
  float: right;
}
#notesection{
  max-height: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: scroll;
}
.item{
  border-radius: 3px;
  max-height: 100px;
  margin: 2px;
  padding: 5px;
  background-color: beige;
  border: 1px solid black;
}
.item h3{
  margin: 0px;
}
.item p{
  margin: 0px;
}
